.git/
node_modules/
vendor/

.env
.vimrc.local

bootstrap/cache/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/storage/logs/*

